@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/mixins"

.inline-post
  margin: 0 !important

  &.left
    background-color: $white-bis

  &.right
    background-color: $white-ter

  .column
    padding: 0 !important

    figure.image 
      .image-filter-background 
        width: 100%
        height: 100%
        position: absolute
        overflow: hidden
        top: 0
        left: 0
        pointer-events: none
        transition: all 0.4s ease-in-out

        &.ux
          background-color: rgba(153, 204, 255, 0.2)

        &.visual-design
          background-color: rgba(153, 255, 204, 0.2)

    &.inline-post-content
      padding: 3rem !important

      .inline-post-learn-more 
        margin-top: 1.5rem

  +tablet
    height: 500px
    overflow: hidden

  +mobile 
    figure.image
      height: 400px
      overflow: hidden

    .inline-post-content
      height: 100%