@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/mixins"

.inline-post
  margin: 0 !important

  &.left
    background-color: $white-bis

  &.right
    background-color: $white-ter

  .column
    padding: 0 !important

    &.inline-post-content
      padding: 3rem !important

      .inline-post-learn-more 
        margin-top: 1.5rem

  +tablet
    height: 500px
    overflow: hidden

  +mobile 
    figure.image
      height: 400px
      overflow: hidden

    .inline-post-content
      height: 400px