@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/functions"

// Config
$blue-link  : #008CBA

$purple       : rgba(153, 153, 255, 0.4)
$blue         : rgba(153, 204, 255, 0.4)
$green        : rgba(153, 255, 204, 0.4) 
$light-blue   : rgba(153, 255, 255, 0.4)
$pink         : rgba(255, 153, 204, 0.4)
$yellow       : rgba(255, 255, 153, 0.4) 

  
$primary: $pink
$primary-invert: findColorInvert($pink)

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"
